<div class="title">
  <h1>Foster Network</h1>
</div>

<div class="tagline large-6">
  <h3>Let's get shelter animals into foster homes, together.</h3>
</div>

<div class="sign-up" id="join-link">
  <h3><%= link_to "Join the Foster Network!", new_user_registration_path %></h3>
</div>
