/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *  removed the required tree to apply styles to welcome page
 *= require_self
 *= require foundation_and_overrides

 */
// COLORS
$light-blue       : #f7fbfe;

// BACKGROUND ************************************/
body .container {
  background-color: $light-blue;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

// FORGET PASSWORD FORM ****************************************/
#forget-header {
  margin-bottom: 60px;
}

#forget-form {
  margin-bottom: 80px;
}

// HOME PAGE ****************************************/
#join-link a {
  color: white;
}

#join-link a:hover {
  color: orange;
}

.left a {
  color: white;
  display: block;
  font-weight: lighter;
  padding-top: 9px;
}

.left a:hover {
  color: orange;
}
// EDIT USER PAGE ****************************************/

.edit h2 {
  margin-bottom: 35px;
}
// ERROR AND ALERT MESSAGES ****************************************/
#error_explanation {
  background-color: orange;
}
.flash-errors {
  background-color: orange;
}
.flash-alert {
  background-color: orange;
}
.flash-notice {
  background-color: white;
}
